<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/weather_icon.png" type="image/x-icon">
    
    <title>About Me</title>
</head>
<body>
    <div class="main-content">
         {{>header}}

          <img class="profile" src="img/anand.jpg" alt="vcs_image">
    </div>
    <div>
        <p>
            This website was created by Vidhyanand.cs. This website uses data from darksky.net and mapbox.com
        </p>
    </div>
   
    {{>footer}}
    
</body>
</html>